# Run performance benchmarks
#
# Continuous benchmarking with CodSpeed. Measures the execution speed of Rust benchmarks
# via cargo-codspeed, and Python tests marked with @pytest.mark.benchmark decorator.

name: Benchmarks

on:
  # Run on pushes to the main branch
  push:
    branches: [main]
  # Run on pull requests
  pull_request:
    types: [opened, reopened, synchronize]
  # `workflow_dispatch` allows CodSpeed to trigger backtest
  # performance analysis in order to generate initial data.
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions: {}

jobs:
  rust-benchmarks:
    name: "Run Rust benchmarks"
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/osgeo/gdal:ubuntu-small-3.11.5
      options: --privileged
    steps:
      - name: Install dev dependencies and setup git
        run: |
          apt update
          apt install -y build-essential cmake git libclang-dev pkg-config
          git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Download sample GeoTIFF
        run: |
          curl --create-dir --remote-name --output-dir benches https://sentinel-cogs.s3.us-west-2.amazonaws.com/sentinel-s2-l2a-cogs/37/M/BV/2024/10/S2A_37MBV_20241029_0_L2A/TCI.tif
          ls -lh benches/

      - name: Setup rust toolchain, cache and cargo-codspeed binary
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          channel: 1.85.0 # msrv
          cache: false
          cache-target: release
          bins: cargo-codspeed

      - name: Build the benchmark target(s)
        run: cargo codspeed build

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@6a8e2b874c338bf81cc5e8be715ada75908d3871 # v4.3.4
        with:
          mode: instrumentation
          run: cargo codspeed run

  python-benchmarks:
    name: "Run Python benchmarks"
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash -l {0}

    steps:
      # Checkout current git repository
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      # Setup Python interpreter
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: "3.12"

      # Build binary distribution wheel
      - name: Build wheels
        uses: PyO3/maturin-action@60d11847b29f81ca5375519a8eb33cc336ba4bfa # v1.41.0
        with:
          target: x86_64
          args: --release --out dist --find-interpreter
          sccache: "true"
          manylinux: auto

      # Install the package that we want to test
      - name: Install the package
        run: |
          set -e
          python -m pip install cog3pio[benchmark,tests] --find-links dist --force-reinstall
          python -m pip list

      # Run the benchmark tests
      - name: Run benchmarks
        uses: CodSpeedHQ/action@6a8e2b874c338bf81cc5e8be715ada75908d3871 # v4.3.4
        with:
          mode: instrumentation
          run: python -m pytest --verbose --codspeed
